const config = {
  Auth: {
    identityPoolId: "",
    region: "",
    userPoolId: "",
    userPoolWebClientId: ""
  },
  dataBucket: "",
  region: "",
  iotEndpoint: "",
  iotPolicyName: "",
  sqsUrl: "",
  counterTable: ""
};

export default config;
